html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    padding: 0 30rem;
}

/** 1 rem = 10px **/

.title-img {
    text-align: center;
    border: solid black 0.1rem;
    margin: 0;
}

nav > a {
    color: white;
    text-decoration: none;
    background-color: rgb(15, 86, 192);
    padding: 0.5rem;
    display: inline-block;
}

nav > a.active {
    background-color: green;
}

.botones {
    position: relative;
    left: 80rem;
    top: 1.2rem;
    font-size: 2rem;
}

p {
    text-indent: 2rem;
}

.logo {
    display: inline;
}

.logo img {
    width: 15rem;
    height: 15rem;
    padding: 2rem;
}

.conteiner-pos {
    display: inline;
    position: relative;
    left: 16rem;
    top: -18.5rem;
}

ul li {
    list-style-type: none;
    margin: 4rem;
}

ul h3 {
    margin: 0;
}

tbody {
    padding: 2rem;
    margin: 2rem;  
}

th {
    padding: 2rem;
    margin: 2rem;
    text-transform: uppercase;
}

td {
    padding: 1rem;
    text-align: center;
}

.location {
    text-align: left;
}

.texto1 {
    margin-top: 7rem;
}

.texto2 {
    display: flex;
    justify-content:space-between;
    width: 58rem;
}